<% provide(:title, 'Login') %>
<p class="status"> Invalid email/passwordcombination </p>
<div class="row">
  <h1> Login </h1>
  <div class="col-md-6 col-md-offset-3">
    <form>
      <label>Email</label><br>
      <input type="text" placeholder="Enter Email" name="email"><br>
      <label>Password</label><br>
      <input type="text" placeholder="Enter Password" name="password"><br>
      <button type="button" class="Loginbtn">Login</button>
      <p>New user? <a href="#">Sign up now! </a></p>
    </form>
    
    
  </div>
</div>

